# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
ipykernel
ipython
ipython_genutils
jupyter_client
jupyter_core
nilearn
notebook
numpy
numpy-base
pandas
pydicom
scipy
